<header>
  <div class=header-wrapper>
    <h1>journalisti.co <span class=alpha>{ alpha }</span></h1>
    <div class=resources>
      <div class=wrapper>
        <span class=resource>h</span>
        <span class=resource>v</span>
        <span class=resource>p</span>
        <span class=resource>l</span>
        <span class=resource>c</span>
        <span class=resource>e</span>
      </div>
    </div>
  </div>
</header>
<a class=new href=#new title="New post">New post</a>
<div id=posts></div>
